.card-container {
    border: 1px solid #8ac9ee;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 130px;
    height: 140px;
    cursor: grabbing;

}

.card-container img {
    width: 50%;
}

.card-container:hover {
    background-color: lightgrey;
    opacity: .6;
    transition: .5s;
    border: none;

}

.card-container label:hover {
    cursor: pointer;
}

.card-container-zero {
    border: 1px solid #8ac9ee;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 290px;
    cursor: grabbing;
}

.card-container-zero:hover {
    background-color: lightgrey;
    opacity: .6;
    transition: .5s;
    border: none;
    cursor: grabbing;
}

.card-container-zero label:hover {
    cursor: pointer;
}

.card-container-zero img {
    width: 40%;
}

@media only screen and (max-width: 768px) {
    .card-container {

        width: 100px;
        height: 100px;
    }

    .card-container img {
        width: 30%;
    }

    .card-container-zero {
        height: 150px;
        width: 150px;

    }

    .card-container-zero img {
        width: 30%;
    }

}