.header-container button {
    width: 150px;
    height: 30px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
}

.header-container button:hover {
    background-color: white;
    border: 1px solid cornflowerblue;
    color: cornflowerblue;

}