.header-container button {
    width: 150px;
    height: 30px;
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    cursor: pointer;
}

.header-container button:hover {
    background-color: red;
    border: 1px solid red;
    color: white;

}