.App {}




.app-container {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: center;




}

.app-container>div:first-child {
  grid-area: 1 / 1 / span 2 / span 2;
}